body {
	background-color: #f5fadb;
	display: flex;
	place-content: center;
	font-family: 'Poppins';
	height: 100vh;
}

svg {
	justify-content: center;
	align-items: center;
	width: 20vw;
	overflow:visible;
	display: flex;
	
}

g {
	overflow:hidden;
	visibility: hidden;
}



.reveal {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: #000000
}